extends ../template.jade

block title
  title Anunt Orhei

block content
  .row
    ul#menu-list.hidden-xs
      //- li: a(href="/category/other") Altele
      each category in categories
        li: a(href="/category/#{ category.title }") #{ category.title }
      li: p
      li: a(href="/newad"): span.btn.btn-danger.btn-sm Postează anunţ


    ul#ads-listing
      if (ads)
        each ad in ads
          li
            a(href="#{ ad.url }")
              //- if ad.imagesPath[0]
                //- span.ad-name-thumb #{ ad.title }
                //- img.img-thumbnail.hidden-image(src="uploads/thumb_#{ ad.imagesPath[0] }", alt="#{ ad.adTitle }")
              //- else
              span.ad-name #{ ad.title }

            if ad.price
              span.ad-price.hidden-xs #{ ad.price }
            else
              span.ad-price.hidden-xs &nbsp;

            span.ad-date.hidden-xs #{ ad.date }


    include ../rightadblock


block scripts
  //- show thumbnails
  script(src="js/showThumb.js")

  //- show/hide Prev/Next buttons
  script(type="text/javascript").
    var getPath = window.location.pathname;
    var adsList = document.getElementById('ads-listing').getElementsByTagName('li');
    var prevButton = document.getElementById('previous-button');
    var nextButton = document.getElementById('next-button');

    //- hide "Înapoi" button
    if (getPath === '/' || getPath === '/1')
      prevButton.style.display = 'none';
    else
      prevButton.innerHTML = '<a href="/' + (parseInt(getPath.slice(1)) - 1) + '">Înapoi</a>';

    //- show "Înainte" button
    if (adsList.length === 30) {
      if (getPath !== '/' && getPath !== '/1')
        nextButton.innerHTML = '<a href="/' + (parseInt(getPath.slice(1)) + 1) + '">Înainte</a>';
      else
        nextButton.innerHTML = '<a href="/2">Înainte</a>';
    } else if (adsList < 30) {
      nextButton.style.display = 'none';
    }
